@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(222, 247, 255);
    padding: 10px;
}

header h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: 'Source Sans 3', sans-serif;
    text-shadow: 1px 1px 2px rgb(148, 168, 188);
}

header h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 2em;
    color: rgb(255, 183, 0);
    text-shadow: 1px 1px 2px black;
}