@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(222, 247, 255);
    padding: 10px;
}

header h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: 'Source Sans 3', sans-serif;
    text-shadow: 1px 1px 2px rgb(148, 168, 188);
}

header h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 2em;
    color: rgb(255, 183, 0);
    text-shadow: 1px 1px 2px black;
}

.duas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.caixa1 {
    background-color: rgb(204, 248, 248);
    border-radius: 10px;
    width: 200px;
    height: 360px;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: 2px 2px 2px black;
}

.caixa1 button {
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 15px;
    width: 75px;
    height: 25px;
    color: black;
    background-color: rgb(127, 255, 127);
    font-weight: bolder;
    
}

.saida {
    border-radius: 10px;
    width: 600px;
    height: 100px;
    margin: 100px;
    margin-left: auto;
    margin-top: 30px;
    
}

.titulo1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-right: 190px;
}

#total {
    margin-left: 400px;
    margin-top: -35px; 
}

.troco {
    border-radius: 10px;
    width: 600px;
    height: 200px;
    margin: 100px;
    margin-left: auto;
    margin-top: -165px;
}

.troco div {
    font-size: 2em;
    margin-top: 90px;
}

.recebido {
    font-size: 1em;
    margin-bottom: -100px;
}

#rece {
    margin-left: 390px;
    height: 20px;
    width: 200px;
    margin-top: 50px;
}

.trocado {
    margin-top: -40px;
    margin-left: 700px;
}

#trocado1 {
    margin-left: 130px;
    margin-top: -38px;
}



label {
    padding: 25px;
}

input {
    padding: 25px;
    font-size: 2em;
    width: 20px;
    height: 5px;
    margin-left: 5px;
}

.titulo {
    margin-left: 5px;
    font-weight: bolder;
}

select {
    width: 150px;
    height: 100px;
    margin-left: 20px;
}




